
.myModal{
	position: fixed;
	background-color: rgba(0, 255, 0, 0);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	backdrop-filter: blur(2px);
}


.myModal.active{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	font-size: 20px;
	background-color: #262729;
	box-shadow: 
		-4px -4px 8px rgba(218, 218, 218, 0.04),
		4px 4px 8px rgba(0, 0, 0, 0.25);  
	margin-top: 15px;
	color: rgb(255, 255, 255);
	border-radius: 40px;
	padding: 15px;
}

.er{
	color: red;
}
.content > div > input{
	width: 120px;
	font-size: 20px;
}
.add_but{
	font-size: 20px;
	border: 1px solid rgb(255, 255, 255);
	padding: 5px;
}
.add_but{
		margin-right: 5px;
		margin-left: 5px;
		height: 50px;
		border-radius: 20px 20px 20px 20px;
		border: none;
		color: rgb(255, 255, 255);
		font-size: 20px;
		background-color: #262729;
		box-shadow: -8px -8px 14px rgba(255, 255, 255, 0.04),
					8px 8px 14px rgba(0, 0, 0, 0.25);
		margin-top: 15px;
		padding: 10px;
}
.add_but:hover{
	opacity: 0.7;
	cursor: pointer;
}

.add_but:active {
	box-shadow: inset -8px -8px 14px rgba(255, 255, 255, 0.04),
				inset 8px 8px 14px rgba(0, 0, 0, 0.25);
}

.div_button_add{
	justify-self: center;
}

.start {
	border-radius: 15px;
	border: 1px solid rgb(174, 174, 174);
	text-align: center;
	width: 100px;
	height: 25px;
	font-size: 18px;
}

.center {
	display: grid;
	align-items: center;
	text-align: center;
}

.center input {
	margin: 5px;
	background: none;
	border: none;
	outline: none;
	padding: 10px 20px;
	font-size: 24px;
	border-radius: 9999px;
	box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
	color: #fff;
}
