
.Main_one {
	display: grid;
	grid-template-rows: 1fr 1fr; 
	grid-area: one;
}

.Main_light_button{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.Main_water{
	background-color: white;
	border-radius: 40px;
	text-align: center;
	display: grid;
	grid-template-rows: 0.5fr 3fr 0.5fr;
	color: white;
	box-shadow: 
		-4px -4px 8px rgba(218, 218, 218, 0.04),
		4px 4px 8px rgba(0, 0, 0, 0.25);
	margin-top: 30px;
	margin-bottom: 60px;
	margin-left: 5%;
	margin-right: 5%;  

}
.water_info{
	padding: 5px;
}	

.block_add {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	align-items: end;
  }
  
.but{
	padding: 10px;
	margin-top: 5px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 5px;
	display: inline-block;
	border-radius: 40px;
	border: none;
	color: rgb(0, 0, 0);
	background-color: rgb(215, 215, 215);
	box-shadow: 
		-4px -4px 8px rgba(218, 218, 218, 0.04),
		4px 4px 8px rgba(0, 0, 0, 0.25);
	border: 1px solid rgb(154, 154, 154);
}

.but:hover{
	background-color: #058240;
	color: white;
	border: 2px solid rgb(94, 94, 94);
	cursor: pointer;
}


.color_water {
    display: grid;
    align-content: center;
    border-radius: 40px 40px 1px 1px;
    background-color: #058240;
    box-shadow: 
		inset -4px -4px 8px rgba(218, 218, 218, 0.1),
		inset 4px 4px 8px rgba(0, 0, 0, 0.5);
}

