
.Main_one {
	display: grid;
	grid-template-rows: 1fr 1fr; 
	grid-area: one;
}

.Main_light_button{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.title {
	color: rgb(255, 255, 255);
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(4, 1fr);
	background-color: #6CA846;
	border-bottom: 1px rgb(255, 255, 255) solid;
}

.title_center {
	display: grid;
	align-items: center;
	
}

.Main_water{
	background-color: #262729;
	border-radius: 40px;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 0.5fr 3fr 1fr;
	color: white;
	box-shadow: -8px -8px 14px rgba(255, 255, 255, 0.04),
            8px 8px 14px rgba(0, 0, 0, 0.25);
	margin-top: 30px;
	margin-bottom: 60px;
	margin-left: 5%;
	margin-right: 5%;  

}
.water_info{
	padding: 5px;
}	

.block_add {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.one_add {
	display: grid;
	justify-items: end;
	align-items: center;
	margin-right: 30px;
}

.two_add {
	display: grid;
	justify-items: start;
	align-items: center;
	margin-left: 30px;
}

.but{
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	width: 80px;
	height: 40px;
	color: rgb(255, 255, 255);
	display: inline-block;
	border-radius: 10px;
	border: none;
	background-color: #262729;
	box-shadow: -8px -8px 14px rgba(255, 255, 255, 0.04),
            8px 8px 14px rgba(0, 0, 0, 0.25);
	border: 2px solid #262729;
}

.but:hover{
	border: 2px solid #62a846;
	cursor: pointer;
}

.but:active{
	border: 2px solid #6CA846;
	box-shadow: inset -8px -8px 14px rgba(255, 255, 255, 0.04),
            inset 8px 8px 14px rgba(0, 0, 0, 0.25);
}


.color_water {
	color: rgb(255, 255, 255);
    display: grid;
    align-content: center;
    border-radius: 40px 40px 1px 1px;
    background-color: #262729;
	border-bottom: 1px solid rgba(255, 255, 255);
}

