.table {
	background-color: rgb(255, 255, 255);
	overflow: scroll;
	overflow-x: hidden;
	max-height: 277px;
	color: black;
}

.watering_item{
	margin: 2px;
	display: grid;
	grid-template-columns: 1fr;		
	margin-top: 2px;
	margin-bottom: 2px;
	color: rgb(85, 85, 85);
	background-color: #ffffff;
	border-bottom: 1px rgb(143, 143, 143) solid;	
}

.titles_item{
	display: grid;
	align-items: center;	
	grid-template-columns: repeat(4, 1fr);
}

.title{
	color: rgb(84, 84, 84);
	font-weight: 600;
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(4, 1fr);
	background-color: #ffffff;
	border-bottom: 1px rgb(143, 143, 143) solid;
}
.button_drop{
	justify-self: center;
	
}
.button_drop:hover{
	cursor: pointer;
}

