.table {
	background-color: rgb(223, 223, 223);
	overflow: scroll;
	overflow-x: hidden;
	max-height: 460px;
	color: black;
}

.watering_item{
	display: grid;
	grid-template-columns: 1fr;		
	margin-top: 2px;
	margin-bottom: 2px;
	color: rgb(255, 255, 255);
	background-color: #898989;
	border: 1px solid rgb(84, 84, 84);
}

.titles_item{
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
}

.title{
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(4, 1fr);
	background-color: #afafaf;
}
.button_drop{
	justify-self: center;
	
}
.button_drop:hover{
	cursor: pointer;
}

