
.err{
	color: red;
	text-align: center;
}
.Main_two {
	display: grid;
	grid-area: two;
	grid-template-rows: 1fr 3fr 1fr;  
}

.Main_block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.Sensors_water, .Sensors_air {
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-content: center;
}
  
.Water_state, .Time, .Lux, .Temp_solution, .Temperature, .Humidity{
	color: rgb(255, 255, 255);
	background-color: #262729;
	border-radius: 40px;
	text-align: center;
	box-shadow: -8px -8px 14px rgba(255, 255, 255, 0.04),
            8px 8px 14px rgba(0, 0, 0, 0.25);
}

.Time {
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 5%;
	margin-right: 5%;  
}

.Lux, .Temp_solution, .Temperature, .Humidity {
	margin-top: 30px;	
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.Water_state {
	margin-top: 30px;
	margin-bottom: 60px;
	margin-left: 5%;
	margin-right: 5%;
}

.Time, .Water_state {
	display: flex;
	justify-content: center;
	align-items: center;
}

.color_sensors_up, .color_sensors_down, .sensors_air_color {
	color: rgb(255, 255, 255);
	text-align: center;
	display: grid;
    align-content: center;
    border-radius: 40px 40px 1px 1px;
}

.Lux, .Temp_solution, .Temperature, .Humidity {
	display: grid;
	grid-template-rows: 0.35fr 1fr;
}

.custom_ts {
	display: grid;
	align-items: center;
	border-radius: 1px 1px 40px 40px;
}

.info_sens_air {
	height: 100%;
	width: 100%;
	display: grid;
    align-content: center;
    border-radius: 1px 1px 40px 40px;
    background-color: #262729;
}

@media only screen and (max-width: 1100px) {
	.sensors_air_color{
		font-size: 10px;
	}

	.Time {
		margin-top: 30px;
		margin-left: 2%;
		margin-right: 2%;
	}

	.Water_state, .Time {
		margin-bottom: 30px;
		margin-left: 2%;
		margin-right: 2%;
	}

	.side_color {
		border-radius: 20px 1px 20px 1px;
	}

	.Lux, .Temp_solution, .Temperature, .Humidity {
		margin-top: 15px;	
		margin-bottom: 15px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.Temp_solution {
		font-size: 10px;
		border-radius: 40px;
	}

	.Temperature, .Humidity {
		border-radius: 40px;
	}

	.info_sens_air {
		border-radius: 1px 1px 40px 40px;
	}

	.custom_ts {
		border-radius: 1px 1px 20px 20px;
	}
}
